  @media only screen and (max-width: 786px){
.my_projects{
    height: auto;
}
.project{
    width: 95vw;
    height: 45vh;
    margin-bottom: 5rem;
}
.project img{
    width: 100%;
    height: 100%;
}
 
main{
    height: auto;
}
.container{
    height: auto;
}
.my_projects{
    height: auto;
}

  }


  @media only screen and (max-width: 375px){

    header {
        height: 70vh;
    }
    .header-container {
        height: 70vh;
        display: flex;
        align-items: center;
    }
    .header-container h1{
        font-size: 2.5rem;
    }
    .profile{
        width: 98vw;
    }
    main{
        height: auto;
    }
    .container{
        height: auto;
    }
    .my_projects{
        width: 100vw;
        height: auto;
    }
    .project{
        width: 95vw;
        height: 40vh;
        margin-bottom: 5rem;
    }

    .project img{
        width: 100%;
    }
 
  }

